* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior:smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e9f0;
    --vidro: rgba(255, 255, 255, 0.1);
}


body{
    background-color: var(--escuro);
    color:var(--claro);
}


.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}
.menu-link{
    text-decoration: none;
    color: var(--claro);
    position: relative;
    padding: 0.5rem;
}

.menu-link::after{
    content:'';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}


.foto-perfil{
    width: 300px;
    height: 360px;
    box-shadow: 0 0 20px rgba(78, 70, 229, 0.625);
    border-radius: 50%;
    border: 4px solid var(--claro);
    animation: flutuar 5s ease-in-out infinite;
}

h1{
    font-size: 2.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}
.cabecalho-sub-titulo {
    font-size: 1.3rem;
    color: var(--claro);

}

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;

}

.sobre-caixa {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 2.5;
}

.projetos {
    padding: 6rem 2rem;

}

.projetos-caixa{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;

}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-card:hover{
    box-shadow: 0 10px 20px rgba (79, 70, 229, 0.2);
    transform: translateY(-10px)scale(1.03);

}

.projetos-imagem{
    height: 200px;
    width: 100%;
    object-fit: cover;

}

.caixa-textos-projeto {
    padding-top: 2.0rem;
    padding: 1.5rem;
}
.paragrafo-projetos{
    color: rgba(226,232,240, 0.8);
    line-height: 1.5rem;

}

.info-projetos{
    margin-bottom: 5px;
}

.contatos{
    padding: 6rem 2rem;
}

.contatos-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato{
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;

}


.campo-form{
    width: 100%;
    padding: 1rem;
     background: rgba(255, 255, 255, 0.05);
     border-radius: 8px;
     color: var(--claro);
     outline: none;

}

.campo-form:focus {
    border-color:var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
    
}

.grupo-form{
    margin-bottom: 1.5rem;
}

.botao-form{
    color: var(--claro);
    background: -o-linear-gradient(45deg,var(--primaria),var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition:all 0.5 ease;
    background-color: #7c3aed79;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
    radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
    var(--maisescuro);
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}


.gith {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.gith a {
    display: inline-block;
}

.gith img {
    width: 100px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}

.gith img:hover {
    transform: scale(1.15);
    opacity: 0.8;
}

.gith a:focus img {
    outline: 2px solid #fff;
    border-radius: 5px;
}

.linguagens {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
    margin-top: -40px;
    cursor: pointer;
}

.linguagens img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.linguagens img {
    background: rgba(255,255,255,0.05);
    padding: 10px;
    border-radius: 12px;
    transition: transform 0.3s;
}

.linguagens img:hover {
    transform: translateY(-5px);
}